* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white; 
    justify-content: space-around;
    width: 600px;
    
}